@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif+Khmer:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Angkor", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #fff7f2;
    color: #333;
    text-align: center;
    overflow-x: hidden;
}

/* NAVBAR */
header {
    position: fixed;
    width: 100%;
    top: 0;
    /* background: white; */
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    z-index: 1000;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.love{
    color: #c26b6b;
    font-family: 'Playfair Display', serif;
}

.gold {
    color: #FEBA17;
}

footer p{
    font-family: 'Playfair Display', serif;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* HERO */
.hero {
    height: 100vh;
    padding-top: 80px;
    background:
        linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
        url("./images/8.JPG")
        center/cover;
    color: white;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    /* justify-content: center; */
}

.hero h2 {
    font-size: 60px;
    margin-bottom:300px;
}

.hero-para p {
    font-family: 'Playfair Display', serif;
}

.hero h1 {
    margin-top: 100px;
}

.hero .hero-para {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    text-align: center;
}


.khmer-date {
    font-family: "Moulpali", sans-serif !important;
    font-size: 1.4rem;
}

.invitation {
    max-width: 1000px;
    margin: auto;
}

.invitation h1 {
    color: #FEBA17;
    font-size: 2rem;
}

.invitation img {
    width: 100px;
}

.invitation p{
    font-family: "Moulpali", sans-serif;
    font-size: 1.2rem;
}

/* SECTIONS */
section {
    padding: 90px 20px;
}


.countdown h3, #timer, .moul{
    font-size: 24px;
    color: #FEBA17;
    
}

#timer {
    font-family: "Moulpali", sans-serif !important;
}

.couple .couple-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
}

.couple h1 {
    margin-bottom: 20px;
}

.couple h4 {
    margin-top: 20px;
}

.card {
    color:  #0C2C55;
    width: 460px;
    height: 600px;
    padding: 20px;
    border-radius: 20px;
    /* box-shadow: 0 15px 30px rgba(0,0,0,.1); */
    transition: transform .4s;
}

.heart-card img {
    width: 200px;
}

.card h4, .moul {
    color: #FEBA17;
    font-size: 20px;
    font-family: 'Moul', sans-serif;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    /* width: 100%; */
    height: 480px;
    object-fit: cover;
    border-radius: 15px;
    object-fit: cover;      /* prevents stretching */
    border-radius: 50%;     /* circle portrait (wedding style) */
    image-rendering: auto; 
}

.families {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
}

.details p {
    max-width: 800px;
    margin: 15px auto;
    line-height: 1.7;
    font-family: "Moulpali", sans-serif;
    color:  #0C2C55;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    padding: 30px;
}

/* ANIMATIONS */
.hidden {
    opacity: 0;
    transform: translateY(50px);
}

.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease;
}

/* HEARTS */
.heart {
    position: fixed;
    bottom: 0;
    color: pink;
    animation: floatUp 6s linear forwards;
}

.wedding-gallery {
  padding: 80px 20px;
  background: #faf7f5;
  text-align: center;
}

.wedding-gallery h2 {
  font-size: 36px;
  font-family: 'Playfair Display', serif;
}

.subtitle {
  color: #777;
  margin-bottom: 40px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 1100px;
  margin: auto;
}

.gallery-grid img {
  width: 100%;
  border-radius: 14px;
  cursor: pointer;
  transition: transform 0.4s ease;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.gallery-grid img:hover {
  transform: scale(1.05);
}

/* Lightbox */
#lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

#lightbox img {
  max-width: 90%;
  max-height: 85%;
  border-radius: 16px;
  animation: zoomIn 0.4s ease;
}

#lightbox .close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

@keyframes zoomIn {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.map {
    max-width: 1000px;
    margin: auto;
}

.map .container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.map .container h4 {
    margin-bottom: 10px;
}

.map .container .qr-code-location {
    flex: 1;
    min-width: 200px;
    align-items: center;
    margin: auto;
}

.qr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.2rem;
    margin-top: 20px;
}

.map .container .qr-code-location img {
    width: 100%;
}

.qr-code {
  width: 140px;      /* adjust here */
  height: auto;      /* keep ratio */
  max-width: 100%;
}

/* .map .container div {
    flex: 1;
    width: 100%;
} */

.map-container {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    /* border-radius: 15px; */
    overflow: hidden;
}

#details p{
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }
    
    .map-container,
    .qr-code-location {
        max-width: 400px;
    }
}

@keyframes floatUp {
    to {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 100px;
        width: 100%;
        right: 0;
        background: white;
        padding: 20px 0;
        flex-direction: column;
        display: none;
        box-shadow: 0 10px 25px rgba(0,0,0,.2);
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .hero h2 {
        font-size: 60px;
        margin-top: 100px;
    }

    .hero h1 {
        display: none;
    }
}
