@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif+Khmer:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Angkor", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #fff7f2;
    color: #333;
    text-align: center;
    overflow-x: hidden;
}

/* NAVBAR */
header {
    position: fixed;
    width: 100%;
    top: 0;
    /* background: white; */
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    z-index: 1000;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.love{
    color: #c26b6b;
    font-family: 'Playfair Display', serif;
}
footer p{
    font-family: 'Playfair Display', serif;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* HERO */
.hero {
    height: 100vh;
    padding-top: 80px;
    background:
        linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
        url("https://images.pexels.com/photos/2959192/pexels-photo-2959192.jpeg")
        center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h2 {
    font-size: 60px;
}

.hero p {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

/* SECTIONS */
section {
    padding: 90px 20px;
}


.countdown h3, #timer, .moul{
    font-size: 24px;
    color: #c26b6b;
}

.couple .couple-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
}

.couple h1 {
    margin-bottom: 20px;
}

.card {
    background: white;
    color: #c26b6b;
    width: 460px;
    height: 600px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transition: transform .4s;
}

.heart-card img {
    width: 200px;
}

.card h4, .moul {
    color: #c26b6b;
    font-size: 20px;
    font-family: 'Moul', sans-serif;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: 15px;
}

.families {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
}

.parents {
    max-width: 1000px;
    margin: auto;
}

.parents h1 {
    font-size: 26px;
}

.name {
    font-family: 'Moul', sans-serif;
    font-size: 20px;
}
.family-container {
    flex: 1;
    min-width: 400px;
}

.parents .family {
    line-height: 3;
    background: white;
    width: 100%;
    margin: 20px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
    flex: 1;
}

.family-container {
    width: 100%;
    color: #c26b6b;
}

.details p {
    max-width: 700px;
    margin: 15px auto;
    line-height: 1.7;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    padding: 30px;
}

/* ANIMATIONS */
.hidden {
    opacity: 0;
    transform: translateY(50px);
}

.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease;
}

/* HEARTS */
.heart {
    position: fixed;
    bottom: 0;
    color: pink;
    animation: floatUp 6s linear forwards;
}

.map {
    max-width: 1000px;
    margin: auto;
}

.map .container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.map .container h4 {
    margin-bottom: 10px;
}

.map .container .map-container, .qr-code-location {
    flex: 1;
    min-width: 200px;
}

.map .container .qr-code-location img {
    width: 100%;
}

/* .map .container div {
    flex: 1;
    width: 100%;
} */

.map-container {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    /* border-radius: 15px; */
    overflow: hidden;
}

#details p{
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }
    
    .map-container,
    .qr-code-location {
        max-width: 400px;
    }
}

@keyframes floatUp {
    to {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: white;
        flex-direction: column;
        width: 200px;
        display: none;
        box-shadow: 0 10px 25px rgba(0,0,0,.2);
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
